@import './colors.scss';

// #region font weight mixins
@mixin typography-black {
    font-weight: 900;
}

@mixin typography-bold {
    font-weight: 700;
}

@mixin typography-medium {
    font-weight: 500;
}

@mixin typography-regular {
    font-weight: 400;
}

// #endregion font weight mixins

@mixin typography-main {
    font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    @include typography-medium();
}

// #region mixins

@mixin typography-h1 {
    font-size: 40px;
    line-height: 60px;
}

@mixin typography-h2 {
    font-size: 32px;
    line-height: 48px;
}

@mixin typography-h3 {
    font-size: 24px;
    line-height: 32px;
}

@mixin typography-h4 {
    font-size: 20px;
    line-height: 30px;
}

@mixin typography-h5 {
    font-size: 18px;
    line-height: 26px;
}

@mixin typography-h6 {
    font-size: 16px;
    line-height: 24px;
}

@mixin typography-button-small {
    font-size: 12px;
    line-height: 20px;
}

@mixin typography-button-medium {
    font-size: 14px;
    line-height: 22px;
}

@mixin typography-button-medium-uppercase {
    font-size: 14px;
    line-height: 26px;
}

@mixin typography-button-large {
    font-size: 16px;
    line-height: 24px;
}

// #region Typography body text

@mixin typography-body {
    font-size: 16px;
    line-height: 22px;
}

@mixin typography-uppercase {
    text-transform: uppercase;
    font-size: 14px;
}

@mixin typography-capitalize {
    text-transform: capitalize;
}

@mixin typography-p {
    font-size: 14px;
    line-height: 24px;
}

@mixin typography-p-uppercase {
    font-size: 16px;
    line-height: 24px;
}

@mixin typography-description {
    font-size: 14px;
    line-height: 24px;
}

@mixin typography-input {
    font-size: 14px;
    line-height: 22px;
    @include typography-medium;
}

@mixin typography-subtitle {
    font-size: 18px;
    line-height: 28px;
}

@mixin typography-caption {
    font-size: 12px;
    line-height: 18px;
}

@mixin typography-tiny {
    font-size: 10px;
    line-height: 16px;
}

// #endregion mixins

// #region HEADING

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include typography-bold;
    @include typography-capitalize;
    text-wrap: balance;
    margin-block-start: 0;
}

h1,
.h1 {
    @include typography-h1;
    margin-top: 0;
}

h2,
.h2 {
    @include typography-h2;
}

h3,
.h3 {
    @include typography-h3;
}

h4,
.h4 {
    @include typography-h4;
}

h5,
.h5 {
    @include typography-h5;
}

h6,
.h6 {
    @include typography-h6;
}

// #endregion HEADING

// #region Font Weights

.font-weight-black,
.weight-black {
    @include typography-black;
}

.font-weight-bold,
.weight-bold {
    @include typography-bold;
}

.font-weight-medium,
.weight-medium {
    @include typography-medium;
}

.font-weight-regular,
.weight-regular {
    @include typography-regular;
}

// #endregion Font Weights

// #region BODY

.uppercase {
    @include typography-uppercase;
}

.capitalize {
    @include typography-capitalize;
}

p {
    @include typography-p;

    &.uppercase {
        @include typography-p-uppercase;
    }
}

a {
    text-decoration: underline;
    color: var(--title);
}

.description,
.description.uppercase {
    @include typography-description;
}

input,
textarea,
.input,
.input.uppercase {
    @include typography-input;
}

.subtitle,
.subtitle.uppercase {
    @include typography-subtitle;
}

.caption,
.caption.uppercase {
    @include typography-caption;
}

.tiny,
.tiny.uppercase {
    @include typography-tiny;
}

// #endregion BODY