// #region Themes
@import './themes/blood-in-the-water.dark.theme.scss';
@import './themes/blood-in-the-water.light.theme.scss';
@import './themes/dark.theme.scss';
@import './themes/doggo-snacks.dark.theme.scss';
@import './themes/doggo-snacks.light.theme.scss';
@import './themes/light.theme.scss';
@import './themes/monster-manual.dark.theme.scss';
@import './themes/monster-manual.light.theme.scss';
@import './themes/ritual-magic.dark.theme.scss';
@import './themes/ritual-magic.light.theme.scss';
@import './themes/vapor-wave-sunset.dark.theme.scss';
@import './themes/vapor-wave-sunset.light.theme.scss';
@import './themes/vhs-reggae.dark.theme.scss';
@import './themes/vhs-reggae.light.theme.scss';

[data-theme='blood-in-the-water-dark'] {
    @include blood-in-the-water-dark-theme();
}
[data-theme='blood-in-the-water-light'] {
    @include blood-in-the-water-light-theme();
}
[data-theme='dark'] {
    @include dark-theme();
}
[data-theme='doggo-snacks-dark'] {
    @include doggo-snacks-dark-theme();
}
[data-theme='doggo-snacks-light'] {
    @include doggo-snacks-light-theme();
}
[data-theme='light'] {
    @include light-theme();
}
[data-theme='monster-manual-dark'] {
    @include monster-manual-dark-theme();
}
[data-theme='monster-manual-light'] {
    @include monster-manual-light-theme();
}
[data-theme='ritual-magic-dark'] {
    @include ritual-magic-dark-theme();
}
[data-theme='ritual-magic-light'] {
    @include ritual-magic-light-theme();
}
[data-theme='vapor-wave-sunset-dark'] {
    @include vapor-wave-sunset-dark-theme();
}
[data-theme='vapor-wave-sunset-light'] {
    @include vapor-wave-sunset-light-theme();
}
[data-theme='vhs-reggae-dark'] {
    @include vhs-reggae-dark-theme();
}
[data-theme='vhs-reggae-light'] {
    @include vhs-reggae-light-theme();
}
// #endregion Themes

html,
body {
    color: var(--title);
    background-color: var(--bg-neutral1);

    --large-spacing: 24px;
    --medium-spacing: 16px;
    --small-spacing: 8px;
    --pill-width: 130px;
    --pill-border-radius: 45px;
}

// #region Colors

.color-primary {
    color: var(--primary);
}
.color-secondary {
    color: var(--secondary);
}
.color-tertiary {
    color: var(--tertiary);
}
.color-title {
    color: var(--title);
}
.color-subtitle {
    color: var(--subtitle);
}
.color-placeholder {
    color: var(--placeholder);
}
.color-disabled {
    color: var(--disabled);
}
.color-link-disabled {
    color: var(--link-disabled);
}
.color-on-bg {
    color: var(--on-bg);
}
.color-info {
    color: var(--info);
}
.color-success {
    color: var(--success);
}
.color-warning {
    color: var(--warning);
}
.color-error {
    color: var(--error);
}

.platinum {
    color: var(--currency-platinum);
}
.gold {
    color: var(--currency-gold);
}
.silver {
    color: var(--currency-silver);
}
.copper {
    color: var(--currency-copper);
}

// #endregion Colors

// #region BGs

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-tertiary {
    background-color: var(--tertiary);
}
.bg-neutral1 {
    background-color: var(--bg-neutral1);
}
.bg-neutral2 {
    background-color: var(--bg-neutral2);
}
.bg-stroke {
    background-color: var(--bg-stroke);
}
.bg-container {
    background-color: var(--bg-container);
}
.bg-gray1 {
    background-color: var(--bg-gray1);
}
.bg-gray2 {
    background-color: var(--bg-gray2);
}

.bg-platinum {
    background-color: var(--currency-platinum);
}
.bg-gold {
    background-color: var(--currency-gold);
}
.bg-silver {
    background-color: var(--currency-silver);
}
.bg-copper {
    background-color: var(--currency-copper);
}
// #endregion BGs
