@import './themes/light.theme.scss';
@import './themes/dark.theme.scss';

[data-theme='light'] {
    @include light-theme();
}
[data-theme='dark'] {
    @include dark-theme();
}

html,
body {
    color: var(--title);
    background-color: var(--bg-neutral1);
}

// #region Colors

.color-primary {
    color: var(--primary);
}
.color-secondary {
    color: var(--secondary);
}
.color-tertiary {
    color: var(--tertiary);
}
.color-title {
    color: var(--title);
}
.color-subtitle {
    color: var(--subtitle);
}
.color-placeholder {
    color: var(--placeholder);
}
.color-disabled {
    color: var(--disabled);
}
.color-link-disabled {
    color: var(--link-disabled);
}
.color-on-bg {
    color: var(--on-bg);
}
.color-info {
    color: var(--info);
}
.color-success {
    color: var(--success);
}
.color-warning {
    color: var(--warning);
}
.color-error {
    color: var(--error);
}

.gold {
    color: var(--currency-gold);
}
.silver {
    color: var(--currency-silver);
}
.copper {
    color: var(--currency-copper);
}

// #endregion Colors

// #region BGs

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-tertiary {
    background-color: var(--tertiary);
}
.bg-neutral1 {
    background-color: var(--bg-neutral1);
}
.bg-neutral2 {
    background-color: var(--bg-neutral2);
}
.bg-stroke {
    background-color: var(--bg-stroke);
}
.bg-container {
    background-color: var(--bg-container);
}
.bg-gray1 {
    background-color: var(--bg-gray1);
}
.bg-gray2 {
    background-color: var(--bg-gray2);
}

.bg-gold {
    background-color: var(--currency-gold);
}
.bg-silver {
    background-color: var(--currency-silver);
}
.bg-copper {
    background-color: var(--currency-copper);
}
// #endregion BGs
