@mixin dark-theme {
    // Flat
    --primary: #{$white};
    --secondary: #{$bright-blue};
    --tertiary: #{$electric-violet};
    --gray: #{$gray};

    // Text
    --title: #{$white};
    --subtitle: #{$gray-50};
    --placeholder: #{$gray-70};
    --disabled: #{$gray-80};
    --link-disabled: #{$link-disabled-dark};
    --on-bg: #{$bg-neutral1-dark};

    // Colors
    --bright-blue: #{$bright-blue};
    --electric-violet: #{$electric-violet};
    --french-violet: #{$french-violet};
    --vivid-pink: #{$vivid-pink};
    --hot-red: #{$hot-red};
    --orange-red: #{$orange-red};

    // Currency
    --currency-gold: #{$currency-gold};
    --currency-silver: #{$currency-silver};
    --currency-copper: #{$currency-copper};

    // Status
    --info: #{$vivid-pink};
    --success: #{$bright-blue};
    --warning: #{$orange-red};
    --error: #{$hot-red};

    // Background/Flat
    --bg-neutral1: #{$bg-neutral1-dark};
    --bg-neutral2: #{$bg-neutral2-dark};
    --bg-stroke: #{$gray-80};
    --bg-container: #{$gray-90};
    --bg-gray1: #{$bg-neutral2-light};
    --bg-gray2: #{$gray-10};

    // Scrollbar
    --scrollbar-color: #{$gray-60};
    --scrollbar-bg: #{$gray-90};

    // Button
    --btn-bg-color: transparent;
    --btn-border-color: var(--primary);
    --btn-color: var(--title);
    --btn-disabled-bg-color: var(--bg-container);
    --btn-disabled-border-color: var(--bg-stroke);
    --btn-disabled-color: var(--placeholder);
    --btn-hovered-bg-color: var(--bg-neutral2);
    --btn-hovered-border-color: var(--primary);
    --btn-pressed-bg-color: var(--bg-neutral2);
    --btn-pressed-border-color: var(--placeholder);

    // #region GRADIENT

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
        180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
        90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%
    );

    // #endregion GRADIENT
}
