@mixin doggo-snacks-dark-theme {
    $color-secondary: #d8b5ff;
    $color-tertiary: #1933db;
    $color-quaternary: #1eae98;

    // Flat
    --primary: #{$white};
    --secondary: #{$color-primary};
    --tertiary: #{$color-quaternary};
    --gray: #{$gray};

    // Text
    --title: #{$white};
    --subtitle: #{$gray-50};
    --placeholder: #{$gray-70};
    --disabled: #{$gray-80};
    --link-disabled: #{$link-disabled-dark};
    --on-bg: #{$bg-neutral1-dark};

    // Colors
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-tertiary: #{$color-tertiary};
    --color-quaternary: #{$color-quaternary};

    // Currency
    --currency-platinum: #{$currency-platinum};
    --currency-gold: #{$currency-gold};
    --currency-silver: #{$currency-silver};
    --currency-copper: #{$currency-copper};

    // Status
    --info: #{$color-tertiary};
    --success: #{$color-primary};
    --warning: #{$color-secondary};
    --error: #{$color-secondary};

    // Background/Flat
    --bg-neutral1: #{$bg-neutral1-dark};
    --bg-neutral2: #{$bg-neutral2-dark};
    --bg-stroke: #{$gray-80};
    --bg-container: #{$gray-90};
    --bg-gray1: #{$bg-neutral2-light};
    --bg-gray2: #{$gray-10};

    // Scrollbar
    --scrollbar-color: #{$gray-60};
    --scrollbar-bg: #{$gray-90};

    // Button
    --btn-bg-color: transparent;
    --btn-border-color: var(--primary);
    --btn-color: var(--title);
    --btn-disabled-bg-color: var(--bg-container);
    --btn-disabled-border-color: var(--bg-stroke);
    --btn-disabled-color: var(--placeholder);
    --btn-hovered-bg-color: var(--bg-neutral2);
    --btn-hovered-border-color: var(--primary);
    --btn-pressed-bg-color: var(--bg-neutral2);
    --btn-pressed-border-color: var(--placeholder);

    // #region GRADIENT

    --vertical-gradient: linear-gradient(
        180deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    --horizontal-gradient: linear-gradient(
        90deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    // #endregion GRADIENT
}
