@mixin vapor-wave-sunset-light-theme {
    $color-secondary: #fad008;
    $color-tertiary: #fa8057;
    $color-quaternary: #eb2ea4;
    $color-primary: #6072c4;
    $contrast: #2b0d29;

    // Flat
    --primary: #{$gray};
    --secondary: #{$color-primary};
    --tertiary: #{$color-quaternary};
    --gray: #{$gray};

    // Text
    --title: #{$gray};
    --subtitle: #{$gray-70};
    --placeholder: #{$gray-20};
    --disabled: #{$gray-30};
    --link-disabled: #{$link-disabled-light};
    --on-bg: #{$white};

    // Colors
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-tertiary: #{$color-tertiary};
    --color-quaternary: #{$color-quaternary};

    // Currency
    --currency-platinum: #{$currency-platinum};
    --currency-gold: #{$currency-gold};
    --currency-silver: #{$currency-silver};
    --currency-copper: #{$currency-copper};

    // Status
    --info: #{$color-tertiary};
    --success: #{$color-primary};
    --warning: #{$color-secondary};
    --error: #{$color-secondary};

    // Background/Flat
    --bg-neutral1: #{$bg-neutral1-light};
    --bg-neutral2: #{$bg-neutral2-light};
    --bg-stroke: #{$gray-10};
    --bg-container: #{$white};
    --bg-gray1: #{$bg-neutral2-dark};
    --bg-gray2: #{$gray-80};
    --bg-currency: #{$bg-neutral1-dark};

    // Scrollbar
    --scrollbar-color: #{$gray-40};
    --scrollbar-bg: #{$gray-5};

    // Button
    --btn-bg-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
    --btn-border-color: color-mix(in srgb, var(--color-primary) 15%, transparent);
    --btn-color: var(--subtitle);
    --btn-disabled-bg-color: color-mix(in srgb, var(--color-primary) 5%, transparent);
    --btn-disabled-border-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
    --btn-disabled-color: var(--disabled);
    --btn-hovered-bg-color: color-mix(in srgb, var(--color-primary) 15%, transparent);
    --btn-hovered-border-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
    --btn-pressed-bg-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
    --btn-pressed-border-color: color-mix(in srgb, var(--color-primary) 25%, transparent);

    // #region GRADIENT

    --vertical-gradient: linear-gradient(
        180deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    --horizontal-gradient: linear-gradient(
        90deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    // #endregion GRADIENT

    // #region Shades

    --gray-90: #{$gray-90};
    --gray-80: #{$gray-80};
    --gray-70: #{$gray-70};
    --gray-60: #{$gray-60};
    --gray-50: #{$gray-50};
    --gray-40: #{$gray-40};
    --gray-30: #{$gray-30};
    --gray-20: #{$gray-20};
    --gray-10: #{$gray-10};
    --gray-5: #{$gray-5};

    // #endregion Shades
}
