@mixin vhs-reggae-light-theme {
    $color-primary: #30879c;
    $color-secondary: #f26d36;
    $color-tertiary: #fbb33f;
    $color-quaternary: #{$color-primary};
    $bg-neutral1-light: #e3e7e8;
    $bg-neutral2-light: #d4d6d6;

    $currency-gold: #{$color-tertiary};
    $currency-silver: #{$color-primary};
    $currency-copper: #{$color-secondary};

    // Flat
    --primary: #{$gray};
    --secondary: #{$color-primary};
    --tertiary: #{$color-quaternary};
    --gray: #{$gray};

    // Text
    --title: #{$gray};
    --subtitle: #{$gray-70};
    --placeholder: #{$gray-20};
    --disabled: #{$gray-30};
    --link-disabled: #{$link-disabled-light};
    --on-bg: #{$white};

    // Colors
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-tertiary: #{$color-tertiary};
    --color-quaternary: #{$color-quaternary};

    // Currency
    --currency-platinum: #{$currency-platinum};
    --currency-gold: #{$currency-gold};
    --currency-silver: #{$currency-silver};
    --currency-copper: #{$currency-copper};

    // Status
    --info: #{$color-tertiary};
    --success: #{$color-primary};
    --warning: #{$color-secondary};
    --error: #{$color-secondary};

    // Background/Flat
    --bg-neutral1: #{$bg-neutral1-light};
    --bg-neutral2: #{$bg-neutral2-light};
    --bg-stroke: #{$gray-10};
    --bg-container: #{$white};
    --bg-gray1: #{$bg-neutral2-dark};
    --bg-gray2: #{$gray-80};

    // Scrollbar
    --scrollbar-color: #{$gray-40};
    --scrollbar-bg: #{$gray-5};

    // Button
    --btn-bg-color: transparent;
    --btn-border-color: var(--primary);
    --btn-color: var(--title);
    --btn-disabled-bg-color: var(--bg-container);
    --btn-disabled-border-color: var(--bg-stroke);
    --btn-disabled-color: var(--placeholder);
    --btn-hovered-bg-color: var(--bg-neutral2);
    --btn-hovered-border-color: var(--primary);
    --btn-pressed-bg-color: var(--bg-neutral2);
    --btn-pressed-border-color: var(--subtitle);

    // #region GRADIENT

    --vertical-gradient: linear-gradient(
        180deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    --horizontal-gradient: linear-gradient(
        90deg,
        var(--color-secondary) 0%,
        var(--color-tertiary) 50%,
        var(--color-quaternary) 100%
    );

    // #endregion GRADIENT
}
