<div class="header-bar">
    <div class="greeting-container">
        <h3>{{ 'MENU.TITLE' | translate }}</h3>

        <div class="today-container caption uppercase color-subtitle">
            <span>
                {{
                'BASE.GENERAL.TIME_TILL' | translate: {
                days: durationTillNextSession.days(),
                hours: durationTillNextSession.hours(),
                minutes: durationTillNextSession.minutes()
                }
                }}
            </span>
            <h6>
                {{ 'BASE.GENERAL.GAME_DAY' | translate }}
            </h6>
        </div>
    </div>
</div>