<div class="header-bar">
    <div class="greeting-container">
        <h3>{{ 'MENU.TITLE' | translate }}</h3>

        <div class="today-container caption uppercase color-subtitle dnd-cursor" (click)="openDialog()">
            <span>
                {{
                'BASE.GENERAL.TIME_TILL' | translate: {
                days: durationTillNextSession.days(),
                hours: durationTillNextSession.hours(),
                minutes: durationTillNextSession.minutes()
                }
                }}
            </span>
            <h6>
                {{ 'BASE.GENERAL.GAME_DAY' | translate }}
            </h6>
        </div>
    </div>
</div>

<dialog #dialog class="dialog">
    <h4 class="dialog-title my-0">
        {{ 'BASE.GENERAL.GAME_DAY' | translate }}
    </h4>
    <p class="dialog-content">
        {{ 'BASE.GENERAL.GAME_DAY_DESCRIPTION' | translate: { date: nextSession.format('L'), time:
        nextSession.format('LT') } }}
    </p>

    <div class="dialog-actions">
        <dnd-button text="BASE.ACTIONS.CLOSE" (click)="closeDialog()">
        </dnd-button>
    </div>
</dialog>