@use 'sass:map';
@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/utils.scss';
@import '../../../../assets/scss/devices.scss';

:host {
    @include dnd-no-user-selection;

    .greeting-container,
    .greeting-container h6,
    .action-container {
        @include text-overflow-ellipsis();
    }

    h6,
    h3 {
        margin-block: 0;
        background: var(--horizontal-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.hidden {
        display: none;
    }

    .header-bar {
        box-sizing: border-box;
        background: var(--bg-neutral2);
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: var(--horizontal-gradient);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: $container-padding-inline;
        padding: $container-padding-block $container-padding-inline;
        @include device(mobile) {
            gap: 0;
            padding-block: 8px;
        }

        .greeting-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            flex: 1 0 33%;
            height: 100%;

            .today-container {
                padding-top: 3px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 6px;
                height: 100%;
            }

            @include device(mobile) {
                flex-direction: column;
                align-items: flex-start;
                gap: 0px;

                .today-container {
                    padding: 0;
                }
            }
        }

        .action-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 24px;
            height: 100%;

            > * {
                min-width: 70px;
            }
        }
    }
}
