@import '../../../../assets/scss/animations.scss';
@import '../../../../assets/scss/devices.scss';
@import '../../../../assets/scss/utils.scss';

:host {
    .pill {
        transition: all $animation-duration $animation-function;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--pill-border-radius);
        cursor: pointer;
        width: var(--pill-width);
        max-width: var(--pill-width);

        // background-color: var(--btn-bg-color);
        color: var(--btn-color);

        padding-inline: 0.75rem;
        padding-block: 0.375rem;

        // border-color: var(--placeholder);
        // border-width: 1px;
        // border-style: solid;
        box-sizing: border-box;

        .inspiration-svg g {
            stroke: transparent;
        }

        input[type='checkbox'] {
            display: none;
        }

        &:not(.checked) path {
            fill: oklch(from var(--primary) l c h / 10%);
        }

        &.checked path {
            fill: url(#horizontal-gradient-vhs-reggae);
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }

        &:not(.disabled) {
            @include device(desktop) {
                &:hover,
                &:focus,
                &:focus-visible {
                    background-color: var(--btn-hovered-bg-color);
                    border-color: var(--btn-hovered-border-color);

                    path {
                        transition: fill $animation-duration $animation-function;
                        fill: url(#vertical-gradient-vhs-reggae);
                    }
                }
            }

            &:active {
                background-color: var(--btn-pressed-bg-color);
                border-color: var(--btn-pressed-border-color);
            }
        }

        &.disabled,
        &.disabled:hover {
            background-color: var(--btn-disabled-bg-color);
            border-color: var(--btn-disabled-border-color);
            color: var(--btn-disabled-color);
            @include dnd-cursor-disabled();
        }
    }
}
