<div class="label" *ngIf="label">
    <div class="currency-dot" *ngIf="showCurrencyDot"></div>{{ label | translate: labelInterpolateParams }}
</div>
<div>
    <input type="number" placeholder="{{ placeholder | translate: placeholderInterpolateParams }}" [disabled]="disabled"
        [ngClass]="{ 'erroneous': !!errors }" [value]="value ?? null" (keyup)="valueChanged($event)" autocomplete="off"
        #cmp />
</div>
<div class="caption error" *ngIf="renderErrorMsg && errors && errors !== true">
    {{ errors | json }}
</div>