<div class="label" *ngIf="label">
    <dnd-currency-dot *ngIf="currencyDot" [color]="currencyDot">
    </dnd-currency-dot>
    <span>
        {{ label | translate: labelInterpolateParams }}
    </span>
</div>
<div>
    <input type="number" placeholder="{{ placeholder | translate: placeholderInterpolateParams }}" [disabled]="disabled"
        [ngClass]="{ 'erroneous': !!errors }" [value]="value ?? null" (keyup)="valueChanged($event)" autocomplete="off"
        #cmp />
</div>
<div class="caption error" *ngIf="renderErrorMsg && errors && errors !== true">
    {{ errors | json }}
</div>