@import '../../../../assets/scss/devices.scss';
@import '../../../../assets/scss/animations.scss';
@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/variables.scss';

:host {
    height: 100%;
    display: flex;

    @include device(desktop) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: var(--large-spacing);
    }

    @include device(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--large-spacing);
    }

    .subheader {
        margin-bottom: var(--medium-spacing);
    }

    .divider {
        width: 1px;
        background: var(--vertical-gradient);
        margin-inline: var(--small-spacing);

        @include device(mobile) {
            display: none;
        }
    }

    .inspiration-container {
        width: min(calc(2 * var(--pill-width) + var(--medium-spacing)), 100%);

        .pill-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            gap: var(--medium-spacing);
        }
    }

    .currency-container {
        &-form,
        &-actions {
            display: flex;
            flex-direction: column;
            gap: var(--small-spacing);
            padding-top: var(--medium-spacing);
        }

        &-actions {
            padding-top: var(--large-spacing);
        }
    }
}
