<div class="inspiration-container">
    <h3>{{ 'BASE.INSPIRATIONS.TITLE'| translate: { count: 2} }}</h3>

    <form [formGroup]="inspirationForm" class="pill-group">
        <dnd-input-inspiration [formControl]="insp1FormControl">
        </dnd-input-inspiration>

        <dnd-input-inspiration [formControl]="insp2FormControl">
        </dnd-input-inspiration>

        <dnd-input-inspiration [formControl]="insp3FormControl">
        </dnd-input-inspiration>
    </form>

    <div class="inspiration-subheader color-subtitle">
        {{ 'BASE.INSPIRATIONS.X_OF_Y_ACTIVE' | translate: { x: inspirationsAvailable, y: inspirationsTotal } }}
    </div>
</div>

<div class="divider" role="separator" aria-label="Divider"></div>

<div class="currency-container">
    <h3>{{ 'BASE.CURRENCY.TITLE' | translate }}</h3>

    <dnd-currency-display [currencyValue]="currencyValue" [currencyFactor]="currencyFactor">
    </dnd-currency-display>

    <form class="currency-container-form" [formGroup]="currencyForm">
        <dnd-input-number *ngIf="currencyService.usesPlatinum$ | async" currencyDot="platinum"
            label="BASE.CURRENCY.PLATINUM" [formControl]="platinumFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="gold" label="BASE.CURRENCY.GOLD" [formControl]="goldFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="silver" label="BASE.CURRENCY.SILVER" [formControl]="silverFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="copper" label="BASE.CURRENCY.COPPER" [formControl]="copperFormControl">
        </dnd-input-number>
    </form>

    <div class="currency-container-actions">
        <dnd-button text="BASE.ACTIONS.ADD" (click)="updateCurrency('+')" [disabled]="!currencyForm.valid">
        </dnd-button>
        <dnd-button text="BASE.ACTIONS.SUBTRACT" (click)="updateCurrency('-')" [disabled]="!currencyForm.valid">
        </dnd-button>

        <dnd-button text="BASE.ACTIONS.RESET" (click)="showResetConfirmDialog()" [disabled]="!currencyForm.valid"
            [alternateStyle]="true" class="pt">
        </dnd-button>
    </div>

    <div class="currency-container-use-platinum">
        <dnd-input-checkbox label="BASE.CURRENCY.USE_PLATINUM" [(ngModel)]="currencyService.usesPlatinum">
        </dnd-input-checkbox>
    </div>
</div>

<dialog #dialog class="dialog">
    <h4 class="dialog-title my-0">
        {{ 'BASE.ACTIONS.RESET' | translate }}
    </h4>
    <p class="dialog-content">
        {{ 'BASE.CURRENCY.RESET' | translate }}
    </p>

    <div class="dialog-actions">
        <dnd-button text="BASE.ACTIONS.CANCEL" (click)="closeResetConfirmDialog()">
        </dnd-button>
        <dnd-button text="BASE.ACTIONS.RESET" (click)="updateCurrency('0')" [alternateStyle]="true">
        </dnd-button>
    </div>
</dialog>