@import '../../../../assets/scss/devices.scss';

:host {
    height: 100%;
    display: flex;

    @include device(desktop) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 25px;
    }

    @include device(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
    }


    .divider {
        width: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
        margin-inline: 0.5rem;
    }

    .pill-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        gap: 1.25rem;
    }

    .pill {
        display: flex;
        align-items: center;
        gap: 5px;
        --pill-accent: var(--bright-blue);
        background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
        color: var(--pill-accent);
        padding-inline: 0.75rem;
        padding-block: 0.375rem;
        border-radius: 2.75rem;
        border: 0;
        transition: background 0.3s ease;
        font-family: var(--inter-font);
    }

    .pill:hover {
        background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
    }

    .pill-group .pill:nth-child(6n + 1) {
        --pill-accent: var(--bright-blue);
    }

    .pill-group .pill:nth-child(6n + 2) {
        --pill-accent: var(--french-violet);
    }

    .pill-group .pill:nth-child(6n + 3),
    .pill-group .pill:nth-child(6n + 4),
    .pill-group .pill:nth-child(6n + 5) {
        --pill-accent: var(--hot-red);
    }

    .pill-group svg {
        margin-inline-start: 0.25rem;
    }

    .currency-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-display {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .control {
                display: flex;
                flex-direction: row;
                gap: 5px;

                input {
                    width: 75px;
                }
            }
        }

        .gold {
            color: #ffd700;
        }

        .silver {
            color: #d0d0d0;
        }

        .copper {
            color: #b87333;
        }
    }
}