<div class="inspiration-container">
    <h3>{{ 'BASE.INSPIRATIONS.TITLE'| translate: { count: 2} }}</h3>

    <form [formGroup]="inspirationForm" class="pill-group">
        <dnd-input-inspiration [formControl]="insp1FormControl">
        </dnd-input-inspiration>

        <dnd-input-inspiration [formControl]="insp2FormControl">
        </dnd-input-inspiration>

        <dnd-input-inspiration [formControl]="insp3FormControl">
        </dnd-input-inspiration>
    </form>

    <div class="inspiration-subheader color-subtitle">
        {{ 'BASE.INSPIRATIONS.X_OF_Y_ACTIVE' | translate: { x: inspirationsAvailable, y: inspirationsTotal } }}
    </div>
</div>

<ng-container *ngIf="(isSpecialModeActive$ | async) && hasSpecialModeUnlocked">
    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="inspiration-container">
        <h3>
            <span class="special-mode-gradient">{{ 'BASE.SPECIAL_MODE.DIALOG.PREMIUM' | translate }}</span>
            {{ 'BASE.SPECIAL_MODE.INSPIRATIONS.TITLE' | translate: { count: 2} }}
        </h3>

        <div class="pill-group">
            <dnd-input-inspiration [value]="true" [specialMode]="true" #specInsp1>
            </dnd-input-inspiration>

            <dnd-input-inspiration [value]="true" [specialMode]="true" #specInsp2>
            </dnd-input-inspiration>

            <dnd-input-inspiration [value]="true" [specialMode]="true" #specInsp3>
            </dnd-input-inspiration>
        </div>

        <div class="inspiration-subheader color-subtitle"
            *ngLet="(specInsp1.value ? 1 : 0) + (specInsp2.value ? 1 : 0) + (specInsp3.value ? 1 : 0); let specInspAvailable">
            {{
            'BASE.SPECIAL_MODE.INSPIRATIONS.X_OF_Y_ACTIVE'
            | translate: {
            x: specInspAvailable,
            y: 3
            }
            }}
        </div>
    </div>
</ng-container>

<div class="divider" role="separator" aria-label="Divider">
</div>

<div class="currency-container">
    <h3>{{ 'BASE.CURRENCY.TITLE' | translate }}</h3>

    <dnd-currency-display [currencyValue]="currencyValue" [currencyFactor]="currencyFactor">
    </dnd-currency-display>

    <form class="currency-container-form" [formGroup]="currencyForm">
        <dnd-input-number *ngIf="currencyService.usesPlatinum$ | async" currencyDot="platinum"
            label="BASE.CURRENCY.PLATINUM" [formControl]="platinumFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="gold" label="BASE.CURRENCY.GOLD" [formControl]="goldFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="silver" label="BASE.CURRENCY.SILVER" [formControl]="silverFormControl">
        </dnd-input-number>

        <dnd-input-number currencyDot="copper" label="BASE.CURRENCY.COPPER" [formControl]="copperFormControl">
        </dnd-input-number>
    </form>

    <div class="currency-container-actions">
        <dnd-button text="BASE.ACTIONS.ADD" (click)="updateCurrency('+')" [disabled]="!currencyForm.valid">
        </dnd-button>
        <dnd-button text="BASE.ACTIONS.SUBTRACT" (click)="updateCurrency('-')" [disabled]="!currencyForm.valid">
        </dnd-button>

        <dnd-button text="BASE.ACTIONS.RESET" (click)="showCurrencyResetConfirmDialog('resetCurrency')"
            [disabled]="!currencyForm.valid || currencyValue === 0" [alternateStyle]="true" class="pt">
        </dnd-button>
    </div>

    <div class="currency-container-use-platinum">
        <dnd-input-checkbox label="BASE.CURRENCY.USE_PLATINUM" [(ngModel)]="currencyService.usesPlatinum">
        </dnd-input-checkbox>
    </div>
</div>

<div class="divider" role="separator" aria-label="Divider">
</div>

<div class="sleep-container">
    <h3>{{ 'BASE.SLEEP.TITLE' | translate }}</h3>

    <form class="sleep-container-form" [formGroup]="sleepForm">
        <dnd-radio-group label="BASE.SLEEP.LABEL" [labelInterpolateParams]="{ value: 1 }" [options]="radioOptions"
            [formControl]="sleep1FormControl">
        </dnd-radio-group>
        <dnd-radio-group label="BASE.SLEEP.LABEL" [labelInterpolateParams]="{ value: 2 }" [options]="radioOptions"
            [formControl]="sleep2FormControl">
        </dnd-radio-group>
        <dnd-radio-group label="BASE.SLEEP.LABEL" [labelInterpolateParams]="{ value: 3 }" [options]="radioOptions"
            [formControl]="sleep3FormControl">
        </dnd-radio-group>
    </form>

    <div class="sleep-container-actions">
        <dnd-button text="BASE.ACTIONS.RESET" (click)="showCurrencyResetConfirmDialog('resetSleep')"
            [alternateStyle]="true">
        </dnd-button>
    </div>
</div>

<dialog #dialog class="dialog">
    <ng-container [ngSwitch]="activeDialog">
        <ng-container *ngSwitchCase="'resetCurrency'" [ngTemplateOutlet]="resetCurrencyDialog">
        </ng-container>
        <ng-container *ngSwitchCase="'resetSleep'" [ngTemplateOutlet]="resetSleepDialog">
        </ng-container>
        <ng-container *ngSwitchCase="'special'" [ngTemplateOutlet]="specialDialog">
        </ng-container>
    </ng-container>
</dialog>

<ng-template #resetCurrencyDialog>
    <h4 class="dialog-title my-0">
        {{ 'BASE.ACTIONS.RESET' | translate }}
    </h4>
    <p class="dialog-content">
        {{ 'BASE.CURRENCY.RESET' | translate }}
    </p>

    <div class="dialog-actions">
        <dnd-button text="BASE.ACTIONS.CANCEL" (click)="closeDialog()">
        </dnd-button>
        <dnd-button text="BASE.ACTIONS.RESET" (click)="updateCurrency('0')" [alternateStyle]="true">
        </dnd-button>
    </div>
</ng-template>

<ng-template #resetSleepDialog>
    <h4 class="dialog-title my-0">
        {{ 'BASE.ACTIONS.RESET' | translate }}
    </h4>
    <p class="dialog-content">
        {{ 'BASE.SLEEP.RESET' | translate }}
    </p>

    <div class="dialog-actions">
        <dnd-button text="BASE.ACTIONS.CANCEL" (click)="closeDialog()">
        </dnd-button>
        <dnd-button text="BASE.ACTIONS.RESET" (click)="resetSleep()" [alternateStyle]="true">
        </dnd-button>
    </div>
</ng-template>

<ng-template #specialDialog>
    <h4 class="dialog-title my-0 special-mode">
        {{ 'BASE.SPECIAL_MODE.DIALOG.TITLE' | translate }}
    </h4>

    <p class="dialog-content">
        <span class="weight-black">
            {{ 'BASE.SPECIAL_MODE.DIALOG.SUBTITLE' | translate }}
            <span class="special-mode-gradient">
                {{ 'BASE.SPECIAL_MODE.DIALOG.PREMIUM' | translate }}
            </span>
        </span><br />
        {{ 'BASE.SPECIAL_MODE.DIALOG.DESCRIPTION' | translate }}
    </p>

    <div class="dialog-actions">
        <dnd-button text="BASE.SPECIAL_MODE.ACTIONS.CANCEL" (click)="closeDialog()">
        </dnd-button>
        <dnd-button text="BASE.SPECIAL_MODE.ACTIONS.DONATE" (click)="confirmSpecialDialog()" [alternateStyle]="true">
        </dnd-button>
    </div>
</ng-template>