@import '../../../../assets/scss/devices.scss';
@import '../../../../assets/scss/animations.scss';
@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/typography.scss';

:host {
    display: flex;

    @include device(desktop) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: var(--large-spacing);
    }

    @include device(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--large-spacing);
    }

    .inspiration-subheader {
        margin-top: var(--medium-spacing);
    }

    .divider {
        width: 1px;
        background: var(--vertical-gradient);
        margin-inline: var(--small-spacing);

        @include device(mobile) {
            display: none;
        }
    }

    .inspiration-container {
        width: min(calc(2 * var(--pill-width) + var(--medium-spacing) + 2px), 100%);

        .pill-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            gap: var(--medium-spacing);
            width: 100%;

            border-radius: var(--pill-border-radius);
            background-color: var(--btn-bg-color);
            border-color: var(--btn-border-color);
            border-width: 1px;
            border-style: solid;
        }
    }

    .inspiration-container,
    .currency-container {
        padding-block-end: var(--small-spacing);
    }

    .currency-container {
        &-form,
        &-actions {
            display: flex;
            flex-direction: column;
            gap: var(--small-spacing);
            padding-top: var(--large-spacing);
        }

        &-use-platinum {
            padding-block-start: var(--medium-spacing);
        }

        &-actions {
            padding-top: calc(var(--large-spacing) + var(--small-spacing));

            .pt {
                padding-top: var(--small-spacing);
            }
        }
    }

    .dialog {
        background-color: var(--bg-neutral2);
        border-radius: var(--pill-border-radius);
        border-width: 1px;
        border-color: var(--placeholder);

        &-title,
        &-content {
            color: var(--title);
        }

        &-content {
            white-space: pre-line;
            @include typography-p();
        }

        &-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--medium-spacing);

            dnd-button {
                width: 33%;
            }
        }
    }

    ::backdrop {
        background-color: var(--bg-neutral2);
        opacity: 0.75;
    }
}
